/*======================================
 HERO SECTION
======================================*/

.hero{

    position:relative;

    overflow:hidden;

    min-height:100vh;

    display:flex;

    align-items:center;

    background:linear-gradient(135deg,#F8FAFC,#EEF5FF);

    padding:120px 0;

}

.hero::before{

    content:"";

    position:absolute;

    width:420px;

    height:420px;

    background:#2563EB;

    opacity:.08;

    border-radius:50%;

    top:-180px;

    left:-120px;

}

.hero::after{

    content:"";

    position:absolute;

    width:320px;

    height:320px;

    background:#60A5FA;

    opacity:.08;

    border-radius:50%;

    bottom:-120px;

    right:-120px;

}

.hero-container{

    display:grid;

    grid-template-columns:1.1fr .9fr;

    gap:70px;

    align-items:center;

}

.hero-badge{

    display:inline-block;

    background:#DBEAFE;

    color:#2563EB;

    padding:10px 22px;

    border-radius:40px;

    font-weight:700;

    margin-bottom:25px;

}

.hero h1{

    font-size:70px;

    line-height:1.05;

    color:#d8e1f7;

    font-weight:800;

    margin-bottom:10px;

}

.hero h2{

    color:#05e6d3;

    font-size:32px;

    margin-bottom:10px;

}

.hero-specialty{

    color:#b8c3d3;

    font-size:20px;

    font-weight:500;

    margin-bottom:25px;

}

.hero p{

    color:#475569;

    font-size:18px;

    line-height:1.9;

    max-width:620px;

}

.hero-highlights{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:15px;

    margin:35px 0;

}

.hero-highlights div{

    display:flex;

    align-items:center;

    gap:12px;

    background:rgb(3, 120, 167);

    padding:15px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    font-weight:600;

}

.hero-highlights i{

    color:#03b60c;

}

.hero-buttons{

    display:flex;

    gap:20px;

    margin-top:20px;

}

.photo-wrapper{

    background:rgb(228, 226, 226);

    padding:18px;

    border-radius:30px;

    box-shadow:0 30px 70px rgba(37,99,235,.18);

    transition:.4s;

}

.photo-wrapper:hover{

    transform:translateY(-10px);

}

.photo-wrapper img{

    width:100%;

    border-radius:20px;

    display:block;

}

@media(max-width:992px){

.hero{

padding:100px 0;

}

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-highlights{

grid-template-columns:1fr;

}

.hero h1{

font-size:48px;

}

.hero p{

margin:auto;

}

}